# Xcode
.DS_Store
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Build artifacts
build/
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved

# Cocoapods
Pods/
!Podfile.lock

# Carthage
Carthage/

# Other
.swp
*.o
*.d
*.gcno
*.gcda
*.gcov
*.lcov
