//
//  .gitignore
//  Eatsy
//
//  Created by Mac on 11/09/25.
//

# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
project.xcworkspace/xcuserdata/

# Build generated
build/
DerivedData/

# Swift Package Manager
.swiftpm/

# CocoaPods
Pods/
